<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nubank</title>
  <link rel="stylesheet" href="../static/style.css">
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet"> -->
<link rel="icon" href="/static/nu-icon.png"  type="image/gif" sizes="16x16"/>
</head>
<body> 
  <div >
    <img id="imagem" src="https://app.nubank.com.br/images/new-logo-white.svg" alt="">
  </div>
  <div class="container">
    <div class="form">
      <div>
        <h1>Faça seu login</h1>
      </div>     
      <div class="label">

        <label id="cpf-label" for="cpf">CPF</label>
        <input id="cpf" type="text" name="cpf" />
        <label id="senha-label" for="senha">Senha</label>
        <input id="senha" type="password" name="senha" /> 
        <button id="submit" type="submit" >CONTINUAR</button>   
        <div class="opcao">
          <a class="opcao" href="">Esqueci minha senha <span class="maior" > > </span></a>
          <div class="cadastro" >
          <a class="opcao " href="">Ainda não sou cliente <span class="maior" > > </span></a>
          </div>
        </div>
      </div>
    </div>  
  </div> 
</body>
</html>
